{% extends "layout.html" %}

{% block main %}
  <body> 
    <h1>Latest Transactions</h1> 
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th class="wrap-headline">Headline</th>
                <th>Company</th>
                <th>Amount ($ CAD M)</th>
            </tr>
        </thead>
        <tbody>
          {% for deal in deals %}
              <tr>
                  <td>{{ deal[0]|strftime }}</td>
                  <td>{{ deal[1] }}</td>
                  <td>{{ deal[2] }}</td>
                  <td>{{ deal[3]|fmt_money }}</td>
              </tr>
          {% endfor %}
        </tbody>
    </table>
  </body>
{% endblock %}
</html>
